<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy</title>
</head>
<body>
{% extends "layout.html" %}
{% block content %}
<div class="privacy">

    <h2 style="margin-top: 50px;">Datenschutzerklärung</h2>
    <p style="margin-top: 20px;">

Datenschutz und Datensicherheit bei der Nutzung unserer Websites sind für uns sehr wichtig. Wir möchten Sie daher an dieser Stelle darüber informieren, welche Ihrer personenbezogenen Daten wir bei Ihrem Besuch auf unseren Websites erfassen und für welche Zwecke diese genutzt werden. Wichtig ist, dass die im Rahmen dieses Angebotes gespeicherten Daten ausschließlich für die Nutzung der angebotenen Plattform gespeichert werden und nicht mit anderen Daten der Projektbetreiber verknüpft werden. Verantwortlicher im Sinne der DSGVO ist:<br><br>

Forschungsgruppe Security & Privacy<br>
Fakultät für Informatik<br>
Universität Wien<br>
Kolingasse 14-16, 5. OG<br>
1090 Wien<br>
Telefon: +43 1 4277 79702<br>
sec@cs.univie.ac.at<br><br>

Für die Nutzung des angebotenen Datentransparenztools werden die Profilinformationen Ihrer Benutzerkonten bei Google, Facebook, und LinkedIn gespeichert, sofern Sie sich über deren Social-Logins auf unserer Plattform anmelden. Die Rechtsgrundlage dafür stellt Art. 6 Abs. 1 lit b dar. Diese Speicherung erfolgt ausschließlich für die Bereitstellung des Datentransparenztools. Ihre Daten werden beim Abmelden (Schaltfläche "Abmelden") bzw. automatisiert nach spätestens 24 Stunden vollständig gelöscht.<br><br>

Sie haben das Recht auf Auskunft, Berichtigung, Löschung oder Einschränkung der Verarbeitung Ihrer gespeicherten Daten, ein Widerspruchsrecht gegen die Verarbeitung sowie ein Recht auf Datenübertragbarkeit und auf Beschwerde gemäß den geltenden Bestimmungen des Datenschutzrechts. Sofern Sie eines der genannten Rechte uns gegenüber geltend machen wollen, so wenden Sie sich sec@cs.univie.ac.at oder am Postweg an den:<br><br>
Forschungsgruppe Security & Privacy<br>
Fakultät für Informatik<br>
Universität Wien<br>
Kolingasse 14-16, 5. OG<br>
1090 Wien<br><br>

Im Zweifel können wir zusätzliche Informationen zur Bestätigung Ihrer Identität anfordern. Dies dient dem Schutz Ihrer Rechte und Ihrer Privatsphäre.

<h3 style="margin-top: 50px;">AUSKUNFTSRECHT</h3>

Sie können von uns Auskunft darüber verlangen, ob und in welchem Ausmaß wir Ihre Daten verarbeiten. Recht auf Berichtigung Falls wir Daten über Sie verarbeiten, die unvollständig oder unrichtig sind, so können Sie von uns deren Berichtigung bzw. Vervollständigung verlangen.

<h3 style="margin-top: 50px;">RECHT AUF LÖSCHUNG</h3>

Sie können von uns unter gewissen Umständen die Löschung Ihrer Daten verlangen. Bitte beachten Sie aber, dass wir Ihre Daten nur löschen können, sofern der Löschung keine anderen gesetzliche Regelungen entgegenstehen, wie z.B. gesetzlich geregelte Aufbewahrungspflichten.

<h3 style="margin-top: 50px;">RECHT AUF EINSCHRÄNKUNG DER VERARBEITUNG</h3>

Ihnen steht es auch zu, die Einschränkung der Verarbeitung Ihrer Daten zu verlangen, wenn Sie die Richtigkeit der Daten bestreiten, die Verarbeitung der Daten unrechtmäßig ist, Sie aber eine Löschung ablehnen und stattdessen eine Einschränkung der Datennutzung verlangen, wir die Daten für den vorgesehenen Zweck nicht mehr benötigen, Sie diese Daten aber noch zur Geltendmachung oder Verteidigung von Rechtsansprüchen brauchen, oder Sie Widerspruch gegen die Verarbeitung der Daten eingelegt haben.

<h3 style="margin-top: 50px;">RECHT AUF DATENÜBERTRAGBARKEIT</h3>

Sie können von uns verlangen, dass wir Ihnen die zu Ihrer Person verarbeiteten Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zur Verfügung stellen. Somit können Sie diese Daten problemlos einem anderen Verantwortlichen übermitteln, sofern wir diese Daten aufgrund einer von Ihnen erteilten und widerrufbaren Zustimmung oder zur Erfüllung eines Vertrages zwischen uns verarbeiten, und diese Verarbeitung mithilfe automatisierter Verfahren erfolgt. Sie können uns auch mit der direkten Übermittlung Ihrer Daten an einen anderen Verantwortlichen beauftragen, sofern dies technisch möglich ist.

<h3 style="margin-top: 50px;">WIDERSPRUCHSRECHT</h3>

Wir verarbeiten Ihre Daten aus berechtigtem Interesse, so können Sie gegen diese Datenverarbeitung in begründeten Einzelfällen Widerspruch einlegen. Der Widerspruch kann von uns dann nicht berücksichtigt werden, insofern wir zwingende schutzwürdige Gründe für die Verarbeitung nachweisen können, die Ihre Interessen, Rechte und Freiheiten überwiegen oder wenn die Verarbeitung der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen dient. Wenn Sie von uns Informationen erhalten und diese zukünftig nicht mehr erhalten wollen, können Sie jederzeit ohne Angaben von Gründen widersprechen.

<h3 style="margin-top: 50px;">BESCHWERDERECHT</h3>

Sind Sie der Meinung, dass wir Ihre Daten auf unzulässige Weise verarbeiten? Dann nehmen Sie bitte Kontakt mit uns auf, damit wir versuchen können, allfällige Fragen oder Missverständnisse aufzuklären. Zusätzlich haben Sie natürlich auch das Recht, sich bei der Österreichischen Datenschutzbehörde zu beschweren.
Österreichische Datenschutzbehörde
Barichgasse 40-42, 1030 Wien
dsb@dsb.gv.at
        
    </p>
</div>
{% endblock %}
</body>
</html>
